@import "../settings/colors";
@import "../settings/fonts";

.datatable {
    margin: 0 auto;
    .tableFilters {
        border-bottom: solid 1px #b2c6ce;
        margin-bottom: 10px;
        margin-top: 20px;
        justify-content: space-between;
        .form-control.input,
        .form-control.select_count{
            display: inline-block;
        }
        .form-control.select_count{
            width:70px;
        }
        input {
            width: 175px;
        }
        .control {
            float: right;
        }
    }
    .table {
        width: 100%;
        background-color: $site-white;
        border-radius: 5px;
        color: $color06;
        thead {
          background-color: $color02;
          color: $color01;
          tr {
            border: 2px solid darken($color02, 2%);
            th {
              border: 2px solid darken($color02, 2%);
            }
          }
        }
        tbody {
          tr {
            border: 2px solid #e6e6e6;
          }
          td:nth-of-type(8) {
            /*text-align: center;*/
            i {
              font-size: 20px;
            }
          }
          td:last-of-type {
            /*text-align: center;*/
            i {
              font-size: 20px;
            }
          }
        }
        th{
            border-top: none;
            padding-top: 20px;
            padding-bottom: 20px;
            color: $color01;
            vertical-align: middle;
            font-size: 14px;
        }

        td{
            border-top: none;
            border-right: 2px solid #e6e6e6;
            vertical-align: middle;
            a{
                color: $table-font;
                font-weight: 600;
            }
            .fa.fa-trash-o{
                cursor: pointer;
            }
        }
        th:first-child,
        td:first-child{
            /*padding-left: 30px;*/
        }
        th:last-child,
        td:last-child{
            /*padding-right: 30px;*/
        }
        .sorting {
            background-image: url('/images/sort_both.png');
            background-repeat: no-repeat;
            background-position: center right;
        }
        .sorting_asc {
            background-image: url('/images/sort_asc.png');
            background-repeat: no-repeat;
            background-position: center right;
        }
        .sorting_desc {
            background-image: url('/images/sort_desc.png');
            background-repeat: no-repeat;
            background-position: center right;
        }
    }
    // .btn-addnew,
    .above_table_wrapper{
        display: inline-block;
        margin-bottom: 20px;
        width:100%;
    }
    .sort_arrow{
        display: inline-block;
        cursor: pointer;
        width:40px;
        height: 32px;
        line-height: 32px;
        background-color: #fff;
        text-align: center;
        margin-left: -3px;
        border-radius: 0px 5px 5px 0px;
        font-size: 12px;
    }
    .sort_select{
        background-image: none;
        border: solid 2px #e6e6e6;
        border-radius: 0;
        width: 200px;
        display: inline-block;
      font-size: 12px;
      font-weight: normal;
    }
    .pagination{
        width:100%;
        display: inline-block;
        margin-bottom: 0;
        margin-top: 50px;
      font-size: 14px;
      a:not([href]):not([tabindex]) {
        color: #e6e6e6;
        text-decoration: none;
      }

      .center-pagination, .right-side-pagination {
        > label {
          font-size: 14px;
          font-weight: 600;
          color: #606060;
          padding: 0 10px 0 30px;
        }
      }
    }
    .right-side-pagination{
        text-align: right;
    //     // display: inline-block;
    //     float: right;
    }
    // .left-side-pagination{
    //     // display: inline-block;
    //     float: left;
    // }
    .center-pagination{
        text-align: center;
    //     width: 100%;
    //     display: inline-block;
    }
    .select-count{
        width:80px;
        display: inline-block;
    }
    .pagination-block{
      display: inline-block;
      cursor: pointer;
      width: 40px;
      line-height: 29px;
      text-align: center;
      margin-left: 1px;
      border: 2px solid #274f6a;
      background: #274f6a;
      color: #fff;
        // border-radius: 0px 5px 5px 0px;
    }
    .pagination-block.disabled{
        color: $color04;
        cursor: default;
    }
    .pagination-block.disabled:hover{
        color: darken(#fff, 10%);
        cursor: default;
    }
}
.contact-datatable{
    border: 1px solid #b2c6ce;
    border-radius: 5px 5px 0px 0px;
    overflow-x: auto;

    .contact-name{
        cursor: pointer;
        font-weight: 500;
    }
    .contact-name:hover{
        color: $link-hover;
    }
    .table th{
        border-top: none;
    }
}
.modal-datatable{
    border: solid 1px #dfe2e5;
    border-radius: 0;
    overflow-x: auto;
    .contact-name{
        cursor: pointer;
        font-weight: 500;
    }
    .contact-name:hover{
        color: $link-hover;
    }
    .table th{
        border-top: none;
    }
}
.add-dt-item,
.add-contact{
    border: 1px solid #b2c6ce;
    border-top: 0;
    width:100%;
    padding: 20px;
    padding-left: 35px;
    border-radius: 0 0 5px 5px;
    margin-bottom: 15px;
    color: #2ca0f6;
    position: relative;
    font-size: 12px;
    font-weight: 600;
    cursor:pointer;

  &:before {
    position: absolute;
    font-family: FontAwesome;
    content: "\f067";
    top: 50%;
    left: 20px;
    transform: translateY(-50%);
  }
}
.add-contact:hover{
    cursor: pointer;
    color: $link-hover;
}
.user-table-wrapper{
    overflow-x: auto;
    margin-bottom: 15px;
}

.projects_datatable, .users_datatable, .categories_datatable,
.organisations_datatable, .mpcategories_datatable, .mpobjectives_datatable,
.quantitatives_datatable, .processes_datatable
{
  position: relative;

  &.users_datatable {
    .table-filters {
      &:before {
        left: 130px;
      }
    }
  }

  &.categories_datatable, &.organisations_datatable,
  &.mpobjectives_datatable
  {
    .table-filters {
      &:before {
        left: 200px;
      }
    }
  }

  &.mpcategories_datatable {
    .table-filters {
      &:before {
        left: 390px;
      }
    }
  }

  &.quantitatives_datatable {
    .table-filters {
      &:before {
        left: 300px;
      }
    }
  }

  &.processes_datatable {
    .table-filters {
      &:before {
        left: 180px;
      }
    }
  }

  &.draft {
    .table-filters {
      &:before {
        left: 260px;
      }
    }
  }
}

.table-filters{
    z-index: 110;
    padding: 20px 30px;
    position: absolute;
    top: -30px;
    width: 100%;
    border-radius: 4px;
    background-color: $color01;
    border: solid 1px #dfe2e5;

      &:before {
        position: absolute;
        top: -10px;
        content: '';
        left: 150px;
        width: 0;
        height: 0;
        border-left: 15px solid transparent;
        border-right: 15px solid transparent;
        border-bottom: 15px solid white;
      }
    .x-close{
        position: absolute;
        top: 0px;
        right: 0px;
        border: solid 1px #000;
        border-radius: 5px;
        width: 20px;
        height: 20px;
        cursor: pointer;
        line-height: 20px;
        text-align: center;
    }
}
// .table-filters::before{
//     display: block;
//     content: " ";
//     width: 10px;
//     height: 10px;
//     position: absolute;
//     margin-top: -30px;
//     left: 500px;
//     border-left: 5px solid transparent;
//     border-right: 5px solid transparent;
//     border-bottom: 5px solid #fff;
// }
.group-filter{
    display: inline-block;
    width: 100%;
    margin-bottom: 0;

    .table-filters{
        border: solid 1px #bdbdbd;
        padding: 20px 30px;
        background: #fff;
        border-radius: 5px;
        position: absolute;
        width: 100%;


    }

    .filter-control{
        display: block;
        width: 100%;
    }
}

.table-custom {
  margin-bottom: 0;


  th {
    line-height: 1;
    padding: 20px 20px;
    font-weight: 600;
    font-size: 12px;
    color: #7f8fa4;
    border-bottom: 0 !important;
    vertical-align: middle;
  }

  td {
    padding: 20px 20px;
    font-size: 12px;
/*    word-break: break-word;*/

    a {
      word-wrap: break-word;
    }

    &.label {
      font-weight: 600;
      color: #354052;
    }
  }

  tbody {
    border-top: 1px solid #dfe2e5;
  }
}
