.cancel-link{
  background-color: #FF5370;
  color: #fff;
  border-radius: 0 !important;
  background-image: linear-gradient(to top, #FF5370, #FF5370);
  border: solid 1px transparent !important;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 0.4px;
  padding: 0.275rem 0.75rem;
  text-align: left;
  display: inline-block;
  margin: 0 3px 0 3px;
  &:hover {
    color: $color02;
  }
}
.form{
    background: white;
    padding: 20px;
    border-radius: 5px;
    color: $table-font-header;
    padding-bottom: 60px;
    text-align: left;
  .message-header {
    h3 {
      position: relative;
      font-weight: 700;
      color: $color02;
      text-align: left;
    }
    h3::after {
      content: "";
      position: absolute;
      left: 1.1em;
      bottom: 0;
      width: 50px;
      height: 2px;
      background:$color02;
      -webkit-transform: translateX(-50%);
      transform: translateX(-50%);
    }
  }

  h4 {
    position: relative;
    padding: 30px 0 15px 0;
    font-weight: 400;
    color: $color02;
    text-align: left;
  }
    .right-side{
        float:right;
      .btn-success {
        background-color: $button-add-new-bg;
        color: $btn-add-new-fg;
        border-radius: 0 !important;
        background-image: linear-gradient(to top, #34aa44, #39b54a);
        border: solid 1px transparent !important;
        font-size: 14px;
        font-weight: 600;
        letter-spacing: 0.4px;
        text-align: left;
      }
    }
    label{
        font-weight: 400;
        color: $color06;
        font-size: 14px;
        vertical-align: middle;
    }
}
.translate-text{
    text-decoration: underline;
    cursor: pointer;
    font-weight: 500;
    font-size: 14px;
    margin-top: 5px;
}
.project-progress-wrapper{
    display: flex;
    text-align: center;
    flex-wrap: wrap;

    .progress-item-block{
        display: inline-block;
        align-items: center;
        flex-shrink: 1;
        margin-bottom: 15px;
        width:calc(100% / 9);
        cursor:pointer;
    }
    .progress-item-block:hover{
        text-decoration: none;
    }
    .step-circle{
        width:30px;
        line-height: 28px;
        text-align: center;
        border-radius: 50%;
        background: #fff;
        color: #354052;
        margin-left: auto;
        margin-right: auto;
      font-size: 18px;
      font-weight: bold;
      height: 30px;
      margin-bottom: 8px;
    }

    .step-circle.active{
      background-image: linear-gradient(to top, #1991eb, #2ca0f7);
      border: solid 1px #1585d8;
      color: white;
    }

    .step-title{
      font-size: 14px;
      font-weight: 600;
      line-height: 1.29;
      letter-spacing: 0.4px;
      color: #354052;
      max-width: 120px;
      margin: auto;
    }
}
#pro-provisional_ending_date_ind{
    width: auto;
}
.add-contact-block{
    width: 100%;
    padding: 20px;
    border: 1px solid #dee2e6;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;

    .add-contact-info{
        text-align: center;
        // border: solid 1px #000;
        // padding: 10px 5px;
    }

  .contact-main-name {
    position: relative;
    border-right: 0 !important;

    &:after {
      position: absolute;
      content: '';
      border-right: 1px solid #dee2e6;
      height: calc(100% + 40px);
      top: -20px;
      right: 0;
    }
  }
}

.modal-dialog {
    max-width: 60%;
}
.publish-project{
    float:right;
}

.help.is-danger{
    color: $danger-color;
}
.form-control{
    width:100%;
    font-size: 14px;
    border: 2px solid #e6e6e6 !important;

}

.form-group {
  h3, h5 {
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 0.3px;
    color: #7f8fa4;
  }

  h3 + p, h5 + p {
    font-size: 12px;
    line-height: 1.5;
    letter-spacing: 0.3px;
    text-align: left;
    color: #7f8fa4;
  }
}

select {
  &.form-control {
    background-image: none;
    border: solid 2px #e6e6e6;
    border-radius: 0;
    color: #060606;
    font-weight: normal;
    font-size: 12px;
    -webkit-appearance: menulist-button;
    -moz-appearance: menulist-button;
    appearance: menulist-button;
  }
  option {
    background: #e6e6e6;
    padding: 10px 15px;
    font-size: 14px;
    color: #060606;
  }
}

input[type='checkbox']{
  width: 30px;
  display: inline-block;
  margin-left: 10px;
  margin-top: 0px;
  margin-bottom:10px;
  vertical-align:middle;

}

.project-general-form{

    .datepicker-wrapper{
        display: inline-block;
        vertical-align: top;
        width: 30%;
        input{
            display: block;
            width: 97%;
            padding: 0.375rem 0.75rem;
            font-size: 1rem;
            line-height: 1.5;
            color: #495057;
            background-color: #fff;
            background-clip: padding-box;
            border: 1px solid #ced4da;
            border-radius: 0.25rem;
            -webkit-transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
            transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
            transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
            transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
        }

    }
    .datepicker-wrapper.button{
        width: 10%;
        text-align: center;
        input{
            margin-top: 10px;
        }
    }
    #pro-provisional_ending_date_ind{
        margin-left: auto;
        margin-right: auto;
    }
}

#generalDescription, #organisations, #budget,
#partnerCountryOrg, #contact-admin, #addotionalInfo,
#indicators, #deliverables
{
  position: relative;

  &:before {
    position: absolute;
    top: -10px;
    content: '';
    left: 0;
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 15px solid white;
  }
  &#generalDescription {
    &:before {
      left: 38px;
    }
  }

  &#organisations {
    &:before {
      left: 142px;
    }
  }

  &#budget {
    &:before {
      left: 246px;
    }
  }

  &#partnerCountryOrg {
    &:before {
      left: 351px;
    }
  }

  &#contact-admin {
    &:before {
      left: 457px;
    }
  }

  &#addotionalInfo {
    &:before {
      left: 563px;
    }
  }

  &#indicators {
    &:before {
      left: 670px;
    }
  }

  &#deliverables {
    &:before {
      left: 774px;
    }
  }
}

.modal-dialog {
    .tableFilters{
        margin-bottom: 15px;
    }
    .selected-item-bubble{
        padding: 5px;
        border: solid 1px #b2c6ce;
        border-radius: 5px;
        margin-bottom: 10px
    }
    .pagi-row{
        width: 100%;
        margin-left: 0px;
        margin-top: 15px;
    }
    .modal-select{
        display: inline-block;
        width: 80px;
    }
    .right-side-pagination{
        text-align: right;
        padding-right: 0px;
    }
    .left-side-pagination{
        text-align: left;
        padding-left: 0px;
        line-height: 40px;

      span {

      }
    }
    .center-pagination{
        text-align: center;
    }
    .pagination-block{
        display: inline-block;
        cursor: pointer;
        width: 40px;
        line-height: 37px;
        background-color: #fff;
        text-align: center;
        margin-left: -3px;
        border: solid 1px #bdbdbd;
        color: #000 !important;
        // border-radius: 0px 5px 5px 0px;
    }
    .pagination-block.disabled{
        color: gray !important;
        cursor: default;
    }
    .pagination-block.disabled:hover{
        color: gray;
        cursor: default;
    }
}
#login{
    .form-control{
        width:100%;
    }
}

.left-side-pagination{
  span {
    font-weight: 600;
    line-height: 36px;
  }
}

.contact-block {
  border: 1px solid #dee2e6;
  border-radius: 4px;

  &.full {
    .contact-main-name {
      padding: 25px;
    }

    .padding {
      .row {
        height: 100%;
        margin-right: 0;
      }
    }
  }
}

.contact-main-name, .center-side {
  display: flex;
  align-items: center;
  height: 100%;
  justify-content: center;

  &.contact-main-name {
    border-right: 1px solid #dee2e6;
    color: #323e51;
    font-weight: 600;
    font-size: 14px;
    word-break: break-word;
    padding-right: 25px;
  }
}

.contact-info {
  color: #323e51;
  font-weight: 600;
  font-size: 12px;
}

.contact-block .message-body .row {
  width: 100%;
}

.partnes-block {
  border: 1px solid #dee2e6;
  border-radius: 4px;
  margin-bottom: 20px;

  &.full {
    .contact-main-name {
      padding: 25px;
    }

    .padding {
      .row {
        height: 100%;
        margin-right: 0;
      }
    }
  }
}
