.datatable {
    margin: 0 auto;
    .table {
        width: 100%;
        background-color: $site-white;
        border-radius: 5px;
        color: $color06;
        thead {
          background-color: $color02;
          color: $color01;
          tr {
            border: 2px solid darken($color02, 2%);
            th {
              border: 2px solid darken($color02, 2%);
            }
          }
        }
        tbody {
          tr {
            border: 2px solid #e6e6e6;
          }
          td:nth-of-type(8) {
            /*text-align: center;*/
            i {
              font-size: 20px;
            }
          }
          td:last-of-type {
            /*text-align: center;*/
            i {
              font-size: 20px;
            }
          }
        }
        th{
            border-top: none;
            padding-top: 20px;
            padding-bottom: 20px;
            color: $color01;
            vertical-align: middle;
            font-size: 14px;
        }

        td{
            border-top: none;
            border-right: 2px solid #e6e6e6;
            vertical-align: middle;
            a{
                color: $table-font;
                font-weight: 600;
            }
            .fa.fa-trash-o{
                cursor: pointer;
            }
        }
    }
    // .btn-addnew,
    .above_table_wrapper{
        display: inline-block;
        margin-bottom: 20px;
        width:100%;
    }
    .sort_arrow{
        display: inline-block;
        cursor: pointer;
        width:40px;
        height: 32px;
        line-height: 32px;
        background-color: #fff;
        text-align: center;
        margin-left: -3px;
        border-radius: 0px 5px 5px 0px;
        font-size: 12px;
    }
    .sort_select{
        background-image: none;
        border: solid 2px #e6e6e6;
        border-radius: 0;
        width: 200px;
        display: inline-block;
      font-size: 12px;
      font-weight: normal;
    }
    .pagination{
        width:100%;
        display: inline-block;
        margin-bottom: 0;
        margin-top: 50px;
      font-size: 14px;
      a:not([href]):not([tabindex]) {
        color: #e6e6e6;
        text-decoration: none;
      }

      .center-pagination, .right-side-pagination {
        > label {
          font-size: 14px;
          font-weight: 600;
          color: #606060;
          padding: 0 10px 0 30px;
        }
      }
    }
    .right-side-pagination{
        text-align: right;
    }

    .center-pagination{
        text-align: center;
    }
    .select-count{
        width:80px;
        display: inline-block;
    }
    .pagination-block{
      display: inline-block;
      cursor: pointer;
      width: 40px;
      line-height: 29px;
      text-align: center;
      margin-left: 1px;
      border: 2px solid #274f6a;
      background: #274f6a;
      color: #fff;
        // border-radius: 0px 5px 5px 0px;
    }
    .pagination-block.disabled{
        color: $color04;
        cursor: default;
    }
    .pagination-block.disabled:hover{
        color: darken(#fff, 10%);
        cursor: default;
    }
    .edit-action-col {
      a {
        display: inline-block;
      }
    }
}

.inline-editable {
  a {
    cursor: pointer;
  }
  .deleted-row {
    color: #cccccc;
    background-color: #fefbfb;
    .edit-btn {
      color: #cccccc;
    }
  }
  .fa-undo,
  .fa-trash-o{
    cursor: pointer;
    font-size: 1.2rem;
  }
  .smooth-dnd-draggable-wrapper.edit-enabled {
    background-color: #fafafa;
  }
}

.datatable {
  &.reorder-rows {

    .column-drag-handle {
      float:left;
      padding:0 6px;
      cursor: move;
      @media (min-width: 1500px) {
        padding:0 10px;
      }
      &.hidden {
        opacity: 0;
        visibility: hidden;
      }
    }

    .form-group {
      margin-bottom: 0;
    }

    .table {

      td,th {
        display: block;
      }

      th {
        &:not(:last-child) {
          border-right: none;
        }
      }

      tr {
        display: flex !important;
        justify-content: space-between;
        &.edit-enabled {
          td {
            &.has-input {
              padding-top: .45rem;
              padding-bottom: .45rem;
            }
          }
        }
      }

      thead {
        display: block;
        border: 1px solid #274f6a;
        tr {
          border-top: 1px solid #274f6a;
          border-bottom: 1px solid #274f6a;
        }
        th {
          border: none;
          overflow: hidden;
          text-overflow: ellipsis;
          &:not(:last-child) {
            border-right: 2px solid #274f6a;
          }
        }
      }

      tbody,
      tfoot{
        display: block !important;
        position: relative;
        tr {
          border: none;
          border-bottom: 1px solid #e6e6e6;
          border-top: 1px solid #e6e6e6;
        }
        td {
          border: none;
          &:not(:last-child) {
            border-right: 2px solid #e6e6e6;
          }
        }

      }

      tfoot {
        .bounce-loader {
          display: none;
        }
      }

    }

  }
}
