/* Homepage colors */

$color01: #ffffff;
$color02: #2a5571; /* 42,85,113*/
$color03: #00a0ff;
$color04: #ff526e; /*255,82,110*/
$color05: #e6e6e6;
$color06: #606060;
$color07: #9b9b9b;
$color08: #d8d8d8;
$color09: rgb(230, 230, 230);
$color10: #e5e5e5;
$color11: #ff4a5d;
$color12: #5f6edc;
$color13: #1ccae4;
$color14: #f1f1f1;
$color15: #00c7c7;