@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:400|Roboto:100);
#countown_page {
  align-items: center;
  bottom: 0;
  background-color: #34495e;
  display: flex;
  justify-content: center;
  left: 0;
  position: absolute;
  right: 0;
  top:0;
}

.countdown {
  display: flex;
}

.block {
  display: flex;
  flex-direction: column;
  margin: 20px;
}

.text {
  color: #1abc9c;
  font-size: 25px;
  font-family: $font-family;
  font-weight: 40;
  margin-top:10px;
  margin-bottom: 10px;
  text-align: center;
  box-shadow: #0c0e0f;
}

.digit {
  color: #ecf0f1;
  font-size: 130px;
  font-weight: 250;
  font-family: $font-family;
  margin: 10px;
  text-align: center;
}
