@mixin autofill-styles($color,$border-color:$color,$box-shadow: '0 0 0 1000px #000 inset') {
  &:-webkit-autofill,
  &:-webkit-autofill:hover,
  &:-webkit-autofill:focus {
    border-color: $border-color;
    -webkit-text-fill-color: $color;
    -webkit-box-shadow: $box-shadow;
    transition: background-color 5000s ease-in-out 0s;
  }
}
