/node_modules
/public/hot
/public/storage
/public/upload
/public/fonts/vendor
/public/mix-manifest.json
/public/*.js
/storage/*.key
/storage/medialibrary
/storage/debugbar
/vendor
/upload
/.idea
/.htaccess
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
yarn.lock
.env
.env.testing
.settings

/tests-jest.xml
/tests-phpunit.xml
.vscode/
public/js
public/css
resources/assets/vue/vue-i18n-locales.generated.js
website/public/images/vendor
